{
	"emulators": {
		"default": {
			"port": 3569,
			"serviceAccount": "emulator-account"
		}
	},
	"contracts": {
		"FungibleToken": {
			"source": "./flow/cadence/utility/FungibleToken.cdc",
			"aliases": {
				"testnet": "0x9a0766d93b6608b7"
			}
		},
		"ExampleToken": "./flow/cadence/ExampleToken.cdc"
	},
	"networks": {
		"emulator": "127.0.0.1:3569",
		"mainnet": "access.mainnet.nodes.onflow.org:9000",
		"testnet": "access.devnet.nodes.onflow.org:9000"
	},
	"accounts": {
		"emulator-account": {
			"address": "f8d6e0586b0a20c7",
			"key": "dd6e0fd35190ee5aba55bb3c2ec1630c8a8fe75ef7e9a59f979e9e3a0518edb6"
		}
	},
	"deployments": {
		"emulator": {
			"emulator-account": [
				"FungibleToken",
				"ExampleToken"
			]
		}
	}
}